.com-scrollbar__hide {
  overflow: scroll auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.com-scrollbar__hide::-webkit-scrollbar {
  display: none;
  width: 0;
}

.com-text__ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.com-text__ellipsis--double {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.com-image__error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 26px;
  color: var(--el-text-color-secondary);
  background: var(--el-fill-color-light);
}

.com-box__shadow {
  box-shadow: var(--el-box-shadow-light);
}
